.slide-right-enter-active, .slide-right-leave-active {
  transition: all .2s;
}
.slide-right-enter, .slide-right-leave-to {
  transform: translateX(100px);
  opacity: 0;
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all .2s;
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}