<template>
  <LayoutAlt>
    <Table :columns="columns" :rows="rows"/>
  </LayoutAlt>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'History',
  components: {
    LayoutAlt: () => import(/* webpackChunkName: 'LayoutAlt' */ '@/layouts/LayoutAlt.vue'),
    Table: () => import(/* webpackChunkName: 'Table' */ '@/components/Table.vue'),
  },
  data() {
    return {
      columns: [
        {
          name: 'id',
          text: 'Id',
        },
        {
          name: 'name',
          text: 'Name',
        },
        {
          name: 'operation',
          text: 'Operation',
        },
        {
          name: 'createdAt',
          text: 'CreatedAt',
        },
      ],
    };
  },
  computed: {
    ...mapState('User', ['history']),
    type() {
      return ['add', 'remove'].includes(this.$route.query.f) ? this.$route.query.f : '';
    },
    rows() {
      return this.history
        .filter((item) => !this.type || item.operation === this.type)
        .map((item) => ({ ...item, uid: `${item.createdAt}-${item.id}` }));
    },
  },
};
</script>

<style>

</style>
