<template>
  <LayoutDefault>
    <template #search>
      <FormControl v-model="search" class="" />
    </template>
    <template #aside>
      <List
        :items="filtered"
        hasAdd
        @add="onAdd"
      />
    </template>
    <List
      :items="selected"
      hasRemove
      @remove="onRemove"
    />
  </LayoutDefault>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
  name: 'Index',
  components: {
    LayoutDefault: () => import(/* webpackChunkName: 'LayoutDefault' */ '@/layouts/LayoutDefault.vue'),
    List: () => import(/* webpackChunkName: 'List' */ '@/components/List.vue'),
    FormControl: () => import(/* webpackChunkName: 'FormControl' */ '@/components/FormControl.vue'),
  },
  data() {
    return {
      search: '',
    };
  },
  computed: {
    ...mapState('User', ['selected', 'users']),
    ...mapGetters('User', ['getUnselected']),
    filtered() {
      return this.getUnselected.filter((item) => item.name.toLowerCase().includes(this.search));
    },
  },
  methods: {
    ...mapActions('User', ['getUsers', 'addItem', 'removeItem']),
    onAdd(item) {
      this.addItem(item);
    },
    onRemove(item) {
      this.removeItem(item);
    },
  },
  created() {
    this.getUsers()
      .then((users) => { this.apiItems = users; });
  },
};
</script>

<style>

</style>
