<template>
  <button
    type="button"
    class="button"
    :class="{
      'button_remove': remove,
    }"
    @click="$emit('click')"
  >
    <slot/>
  </button>
</template>

<script>
export default {
  props: {
    remove: Boolean,
  },
};
</script>

<style lang="scss">
.button {
  line-height: 1;
  padding: 1rem 2rem;
  background: rgb(92, 161, 240);
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &_remove {
    background: rgb(255, 123, 145);
  }
}
</style>
