<template>
  <div class="form-control">
    <input class="form-control__input" type="text" :value="value" @input="onInput">
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  methods: {
    onInput(e) {
      this.$emit('input', e.target.value);
    },
  },
};
</script>

<style lang="scss">
.form-control {
  width: 100%;
  padding: .5rem;
  border: 1px solid gray;

  &__input {
    line-height: 1.5;
    width: 100%;
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}
</style>
