<template>
  <div class="list-item">
    <div class="list-item__text">{{ item.name }}</div>
    <Button v-if="hasAdd" class="list-item__add" @click="onAdd(item)">Add</Button>
    <Button v-if="hasRemove" remove class="list-item__remove" @click="onRemove(item)">
      Remove
    </Button>
  </div>
</template>

<script>
export default {
  name: 'ListItem',
  props: {
    item: {
      type: Object,
      default: () => {},
    },
    hasAdd: Boolean,
    hasRemove: Boolean,
  },
  components: {
    Button: () => import(/* webpackChunkName: 'Button' */ '@/components/Button.vue'),
  },
  methods: {
    onAdd(item) {
      this.$emit('add', item);
    },
    onRemove(item) {
      this.$emit('remove', item);
    },
  },
};
</script>

<style lang="scss">
.list-item {
  display: flex;
  padding: .5rem 0;

  &__text {
    flex: 1;
    line-height: 1;
    padding: 1rem;
  }

  &__add {
  }

  &__remove {
  }
}
</style>
