<template>
  <transition-group
    class="list"
    tag="ul"
    :name="remove ? 'slide-left' : 'slide-right'"
  >
    <li v-for="item in items" :key="item.id" class="list__item">
      <ListItem
        :item="item"
        :hasAdd="hasAdd"
        :hasRemove="hasRemove"
        @add="onAdd"
        @remove="onRemove"
      />
    </li>
  </transition-group>
</template>

<script>
export default {
  name: 'List',
  components: {
    ListItem: () => import(/* webpackChunkName: 'ListItem' */ '@/components/ListItem.vue'),
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    hasAdd: Boolean,
    hasRemove: Boolean,
  },
  data() {
    return {
      remove: false,
    };
  },
  methods: {
    onAdd(item) {
      this.remove = false;
      this.$emit('add', item);
    },
    onRemove(item) {
      this.remove = true;
      this.$emit('remove', item);
    },
  },
};
</script>

<style lang="scss">
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &__item:not(:last-child) {
    border-bottom: 1px solid lightgray;
  }
}
</style>
