<template>
  <div class="table__wrapper">
    <table class="table__element">
      <thead>
        <tr>
          <th v-for="column in columns" :key="column.name">{{ column.text }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rowsShowed" :key="row.uid">
          <th v-for="(cell, key) in row" :key="key">{{ cell }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    columns: {
      type: Array,
      default: () => [],
    },
    rows: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    rowsShowed() {
      const cols = this.columns.map((col) => col.name);
      return this.rows.map((item) => Object.fromEntries(cols.map((key) => [key, item[key]])));
    },
  },
};
</script>

<style lang="scss">
.table {
  &__wrapper {
    //
  }

  &__element {
    min-width: 100%;
  }
}
</style>
