<template>
  <nav class="toolbar">
    <ul class="toolbar__list">
      <li class="toolbar__list-item" v-for="item in items" :key="item.id">
        <router-link class="toolbar__link" :to="item.to" draggable="false">
          {{ item.text }}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss">
.toolbar {
  width: 100%;

  &__list {
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    flex: 0 0 auto;
  }

  &__link {
    display: block;
    line-height: 1.5;
    padding: 1rem 2rem;
    color: black;
    text-decoration: none;

    &:hover {
      background: lightgray;
    }

    &.router-link-exact-active {
      background: oldlace;
    }
  }
}
</style>
