<template>
  <div class="layout-alt">
    <Toolbar class="layout-alt__toolbar" :items="menu" />
    <main class="layout-alt__main">
      <slot></slot>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'LayoutDefault',
  components: {
    Toolbar: () => import(/* webpackChunkName: 'Toolbar' */ '@/components/Toolbar.vue'),
  },
  computed: {
    ...mapState(['menu']),
  },
};
</script>

<style lang="scss">
.layout-alt {
  display: flex;
  flex-wrap: wrap;

  &__toolbar {
    flex: 0 0 auto;
    width: 100%;
  }

  &__main {
    flex: 0 0 auto;
    width: 100%;
  }
}
</style>
