<template>
  <div class="layout-default">
    <Toolbar class="layout-default__toolbar" :items="menu" />
    <aside class="layout-default__aside">
      <div v-if="$slots['search']" class="layout-default__search">
        <slot name="search"></slot>
      </div>
      <slot name="aside"></slot>
    </aside>
    <main class="layout-default__main">
      <slot></slot>
    </main>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'LayoutDefault',
  components: {
    Toolbar: () => import(/* webpackChunkName: 'Toolbar' */ '@/components/Toolbar.vue'),
  },
  computed: {
    ...mapState(['menu']),
  },
};
</script>

<style lang="scss">
.layout-default {
  display: flex;
  flex-wrap: wrap;

  &__search {
    padding: 1rem;
  }

  &__toolbar {
    flex: 0 0 auto;
    width: 100%;
  }

  &__aside {
    flex: 0 0 auto;
    width: 50%;
  }

  &__main {
    flex: 0 0 auto;
    width: 50%;
  }
}
</style>
